<tr>
  <td><%= user.email %></td>
  <td><%= user.practices.count %></td>
  <td><%= user.created_at %></td>
  <td><%= user.confirmed_at %></td>
  <% if current_user.admin? %>
    <td><%= user.admin? %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
  <% end %>
</tr>
