<tr>
  <%# link the user's email to their show page if their practices are public or if current_user.admin? %>
  <%# otherwise, just display their email %>
  <td><%= link_to(user.email, user) %></td>
  <td><%= user.practices.count %></td>
  <td><%= user.created_at %></td>
  <td><%= user.confirmed_at %></td>
  <td><%= edit_button(user) if user == current_user || current_user.admin? %></td>
  <% if current_user.admin? %>
    <td><%= user.make_practices_public %></td>
    <td><%= user.admin? %></td>
    <td><%= delete_button(user) if current_user.admin? %></td>
  <% end %>
</tr>
