<%= form_with(model: focus) do |form| %>
  <% if focus.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(focus.errors.count, "error") %> prohibited this focus from being saved:</h2>

      <ul>
        <% focus.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='mb-3'>
    <%= form.label :short_description, class: "form-label" %>
    <%= form.text_field :short_description, class: 'form-control' %>
  </div>

  <div class='mb-3'>
    User: <%= @focus.user.email %>
  </div>

  <div class='mb-3'>
    <%= form.submit 'Update Focus', class: 'btn btn-primary', data: { turbo: false } %>
  </div>
<% end %>
