<div class="col mb-3" id="<%= dom_id(practice) %>">
  <%= turbo_frame_tag practice, class: 'card col-md-12' do %>
    <div class="card-header bg-info">
      <div class="row">
        <div class="col-md-6">
          <h5 class="h5 m-0"><%= practice_date(practice.practice_date) %></h5>
        </div>
        <div class="col-md-6 text-end">
          <h5 class="h5 m-0"><%= minutes_in_words(practice.minutes) %></h5>
        </div>
      </div>
    </div>
    <div class="card-body">
      <%= content_tag :h2, practice.focus.short_description if practice.focus.present? %>
      <%= content_tag :h2, practice.song.title if practice.song.present? %>
      <% if practice.notes.present? %>
        <p><%= practice.notes %></p>
      <% else %>
        <p>No notes.</p>
      <% end %>

    </div>
    <div class="card-footer bg-info-subtle">
      <div class="d-flex justify-content-end">
        <%= link_to "Edit", edit_practice_path(practice), class: "btn btn-primary me-2" %>
        <%= button_to "Delete", practice_path(practice), method: :delete, data: { turbo_confirm: "Are you sure you want to delete this practice?" }, class: "btn btn-danger" %>
      </div>
    </div>
  <% end %>
</div>
