<!DOCTYPE html>
<html>
  <head>
    <title>Trackpractice</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="view-transition" content="same-origin">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true, type: 'module' %>
    <%= favicon_link_tag %>
  </head>

  <body>

  </body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="Fourth navbar example">
      <div class="container-fluid">
        <a class="navbar-brand" href="/practices"><i class="bi bi-music-note"></i>Track Practice</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExample04">
          <% if user_signed_in? %>
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item"><a class="nav-link <%= active_state('practices') %>" href="/practices">Practices</a></li>
              <li class="nav-item"><a class="nav-link <%= active_state('foci') %>" href="/foci">Foci</a></li>
              <li class="nav-item"><a class="nav-link <%= active_state('songs') %>" href="/songs">Songs</a></li>
              <li class="nav-item"><a class="nav-link <%= active_state('users') %>" href="/users">Users</a></li>
              <%# <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown04">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li> %>
            </ul>
            <%= button_to "Logout", destroy_user_session_path, method: :delete if user_signed_in? %>
          <% else %>
            <%= button_to "Log In or Create Account", "users/sign_in" %>
          <% end %>

          <%# <form>
            <input class="form-control" type="text" placeholder="Search" aria-label="Search">
          </form> %>
        </div>
      </div>
    </nav>

  </header>

  <main role="main">
    <div class="container">

      <%= turbo_frame_tag 'flash-messages' do %>
        <%= render "shared/flash" %>
      <% end %>

      <div class="row mt-4">
        <%= yield %>
      </div>
    </div>
  </main>

  <footer class="text-muted">
    <div class="container">
      <%# <p class="float-right">
        <a href="#">Back to top</a>
      </p> %>
    </div>
  </footer>



</html>
